@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-secondary dark:bg-background dark:text-text-light;
}

